@model EmployeeManagement.Models.Domain.Leaves

@{
    ViewData["Title"] = "ApplyLeave";
}

<h1>ApplyLeave</h1>

<h4>Leaves</h4>
<hr />
<h1>@TempData["message"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplyLeave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="LeaveId" class="control-label"></label>*@
                <input asp-for="LeaveId" class="form-control"type="hidden" />
                <span asp-validation-for="LeaveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveType" class="control-label"></label>
                <input asp-for="LeaveType" class="form-control" />
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveDate" class="control-label"></label>
                <input asp-for="LeaveDate" class="form-control" type="date" />
                <span asp-validation-for="LeaveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="LeaveStatus" class="control-label"></label>*@
                <input asp-for="LeaveStatus" class="form-control" type="hidden" />
                <span asp-validation-for="LeaveStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="EmpId" class="control-label"></label>*@
                <input asp-for="EmpId" class="form-control" value="@Model.EmpId" type="hidden"/>
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
